<app-alert></app-alert>

<app-pagination
        *ngIf="allRows > rowsPerPage"
        [all]="allRows"
        [pageSize]="rowsPerPage"
        (pageSize)="changePageSize($event)"
        (pageChanged)="changePage($event)"></app-pagination>

<div class="table-responsive">
    <table class="table">
        <thead class="thead-light">
        <tr>
            <th>Type</th>
            <th>Message</th>
            <th>Active</th>
            <th>Recurrent</th>
            <th>Next run</th>
            <th>Created at</th>
            <!--<th>links</th>-->
            <!--<th>actions</th>-->
        </tr>
        </thead>
        <tbody>
            <tr *ngFor="let row of rowsToShow;" class="{{ row.active ? 'table-primary' : 'table-secondary' }}">
                <td>{{ row.type }}</td>
                <!--<td>{{ notification.message|slice(0, 20) }}{% if notification.message|length > 20 %}...{% endif %}</td>-->
                <td>{{ row.message }}</td>
                <!--<td>-->
                    <!--<a href="{{ path('notification_toggle_active', {'id': notification.id}) }}">-->
                        <!--{{ notification.active ? 'Yes' : 'No' }}-->
                    <!--</a>-->
                <!--</td>-->
                <td>{{ row.active }}</td>
                <!--<td>-->
                    <!--<a href="{{ path('notification_toggle_recurrent', {'id': notification.id}) }}">-->
                        <!--{{ notification.recurrent ? 'Yes' : 'No' }}-->
                    <!--</a>-->
                <!--</td>-->
                <td>{{ row.recurrent }}</td>
                <td>{{ row.nextRun}}</td>
                <td>{{ row.createdAt}}</td>
            </tr>

            <tr *ngIf="rowsToShow.length === 0">
                <td colspan="6">No rows found</td>
            </tr>
        </tbody>
    </table>
</div>
